.eunit
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
_build/
priv/

# edoc and edown
doc/README.md
doc/erlang.png
doc/edoc-info
doc/stylesheet.css

# mix
doc/*.html
doc/*.epub
doc/.build
doc/dist
deps/
mix.lock
